@import "./colors";

.App {
    margin: 25px auto 50px auto;
    width: 95%;
    max-width: 992px;
}

body {
    width: 100%;
    background-color: $background;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-auto-columns: 1fr 1.75fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 13px 20px;
    grid-template-areas: "grid-1 grid-0 grid-2""grid-3 grid-0 grid-4";
    margin-bottom: 50px;

    div {
        overflow: hidden;
    }

    .grid-0 {
        grid-area: grid-0;
    }

    .grid-1 {
        grid-area: grid-1;
    }

    .grid-2 {
        grid-area: grid-2;
    }

    .grid-3 {
        grid-area: grid-3;
    }

    .grid-4 {
        grid-area: grid-4;
    }

    .details {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
}

.cart {
    h2 {
        text-align: center;
    }

    table {
        width: 800px;
        margin: 0 auto;
        border: 3px solid $border;
        border-bottom: 0;
        border-spacing: 0;
        font-weight: bold;

        tr {
            line-height: 40px;
        }

        th {
            text-align: left;
            border-bottom: 3px solid $border;
            font-weight: normal;
        }

        td {
            border-bottom: 3px solid $border;
        }

        img {
            vertical-align: middle;
            border: 2px solid $border;
            max-width: 60px;
            margin: 10px 0;
        }
    }

    .delete-button {
        display: block;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
        border: 1px solid black;
        width: 20px;
        height: 20px;

        &:hover {
            background-color: orange;
        }
    }
}

.product {
    display: block;

    img {
        width: 100%;
        outline: 7px solid $border;
        outline-offset: -7px;
    }

    p {
        font-size: 0.875em;
        line-height: 0;
    }

    .product-name {
        font-weight: 900;
    }

    button {
        font-size: 0.75em;
        float: right;
        font-family: inherit;
        background-color: $button;
        color: white;
        border: 0;
        padding: 0.5em 0.75em;
        letter-spacing: 0.5px;

        &:hover {
            background-color: orange;
            color: whitesmoke;
        }
    }

}

hr {
    border: 3px solid $border;
}

.loader {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}