@import "./colors";

* {
    outline: 1px solid gold;
    outline-offset: -1px;
}

body {
    width: 100%;
    background-color: $background;
}

.loader {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}